html(xmlns:fb="https://www.facebook.com/2008/fbml")
  body
    div#fb-root

    script.
      /* All Facebook functions should be included
         in this function, or at least initiated from here */
      window.fbAsyncInit = function() {
        FB.init({appId: '416263898496862',
                 status: true,
                 cookie: true,
             xfbml: true});
        FB.api('/me', function(response) {
          console.log(response.name);
        });
        var disconnectBtn = document.getElementById('sample-disconnect')
        if (disconnectBtn) {
          disconnectBtn.onclick = function() {
              FB.api({ method: 'auth.revokeauthorization' }, safeReload)
          }
        }
        var logoutBtn = document.getElementById('sample-logout')
        if (logoutBtn) {
          logoutBtn.onclick = function() {
            FB.logout()
          }
        }
      };


      // Load the Facebook JS SDK
      window.setTimeout(function() {
        (function(d) {
          var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
          if (d.getElementById(id)) {return;}

          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = '//connect.facebook.net/en_US/all.js';
          ref.parentNode.insertBefore(js, ref);
        }(document));
      }, 0);

    button#sample-logout Logout
    button#sample-disconnect Disconnect





