extends template

block body
    p Welcome unknown user. Click one of these to continue:

    a(target="_top" href='#{conf.canvas}') Full Page Canvas Login

    div.fb-login-button JS SDK Dialog Login
